{{#each this}}
     <div class="user-data">
        <img class="user-img" src={{picture.medium}}>
        <p class="user-name">{{name.title}} {{name.first}} {{name.last}}</p>
        <p class="user-gender">gender: {{gender}}</p>
        <p class="user-email">email: {{email}}</p>
    </div>
{{/each}}